# ======================
# Node
# ======================
node_modules/
jspm_packages/
web_modules/

# ======================
# Env (สำคัญมาก)
# ======================
.env
.env.*
!.env.example

# ======================
# Logs
# ======================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ======================
# Runtime
# ======================
pids
*.pid
*.seed
*.pid.lock

# ======================
# Build / Cache
# ======================
dist
build
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.svelte-kit
.docusaurus

# ======================
# Typescript
# ======================
*.tsbuildinfo

# ======================
# Tools cache
# ======================
.npm
.eslintcache
.stylelintcache

# ======================
# OS / Editor
# ======================
.DS_Store
.vscode-test

# ======================
# Uploads (สำคัญมากสำหรับ SaaS)
# ======================
uploads/